{% extends "two-thirds.html" %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set decommissionedHtml %}
  <h3 class="govuk-notification-banner__heading">
    This has been decommissioned
  </h3>
  <p class="govuk-body">
    You need to go elsewhere. <a class="govuk-notification-banner__link" href="https://www.gov.uk/report-smell">Link text</a>.
  </p>
{% endset %}

{% block twoThirds %}
<div id="home-page">
  <h1 class="govuk-heading-l">{{serviceName}}</h1>

  {{ govukNotificationBanner({
    html: decommissionedHtml
  }) }}

</div>
{% endblock %}
