{% extends "two-thirds.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set decommissionedHtml %}
  <p class="govuk-notification-banner__heading">
    Reporting a smell from Walleys Quarry is transitioning to our national online reporting service. 
    Please report using the new online form: 
    <a class="govuk-notification-banner__link" target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/report-smell">Report a smell from a waste facility, industrial site or farm in England - GOV.UK</a>
  </p>
{% endset %}

{% block twoThirds %}
<div id="home-page">
  <h1 class="govuk-heading-l">{{serviceName}}</h1>

  {{ govukNotificationBanner({
    html: decommissionedHtml,
    titleText: "Service update"
  }) }}

</div>
{% endblock %}
